{% extends 'base.html' %}

{% block title %}{{ curriculum.name }}{% endblock title %}

{% block content %}
<h2>{{ curriculum.name }}</h2>
{% if not user.is_authenticated %}
<p>Log in to see your progress!</p>
{% endif %}
<br>

{% for unit in curriculum.units.all %}
<div class="card">
  <div class="card-header">
    <div class="progress d-none">
      <div class="progress-bar" id="{{ unit.slug }}" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ unit.name }}</h5>
    <p class="card-text">Unit description here...</p>
    <a href="{% url 'units:unit' unit.slug %}" class="btn btn-primary">Go to unit</a>
  </div>
</div>
{% endfor %}

<script>
  {% if user.is_authenticated %}
  $.get("{% url 'get_units_percentage_completion' curriculum.id %}", function(data, status){
    for (i of data){
      percentage = i.percentage * 100
      if (percentage == 100){
        document.getElementById(i.slug).setAttribute("style", "width: 100%");
        document.getElementById(i.slug).setAttribute("aria-valuenow", 100);
        document.getElementById(i.slug).innerHTML = "Unit Complete!";
        document.getElementById(i.slug).setAttribute("class", "progress");
      } else {
        document.getElementById(i.slug).setAttribute("style", `width: ${percentage}%`);
        document.getElementById(i.slug).setAttribute("aria-valuenow", percentage);
        document.getElementById(i.slug).innerHTML = `${Math.round(percentage * 10) / 10}%`;
        document.getElementById(i.slug).setAttribute("class", "progress");
      }
    }
  });
  {% endif %}
</script>
{% endblock content %}