{% extends 'base.html' %}

{% block title %}{{ curriculum.name }}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6 text-center">
        <span class="float-md-left"><h2>{{ curriculum.name }}</h2></span>
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-6 text-center">
        <span class="float-md-right"><a class="btn btn-outline-primary" href="{% url 'placement:initial_placement_test' 'curriculum' curriculum.id %}">Test Out</a></span>
    </div>
    {% endif %}
</div>
{% if not user.is_authenticated %}
<p><a href="{% url 'login' %}">Log in</a> to see your progress!</p>
{% endif %}
<br>

{% for unit in curriculum.units.all %}
<div class="card">
  {% if user.is_authenticated %}
  <div class="card-header">
    <div class="progress">
      <div class="progress-bar" id="{{ unit.slug }}" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'units:unit' unit.slug %}">{{ unit.name }}</a></h5>
    <hr>
    <p class="card-text">{{ unit.description }}</p>
  </div>
</div>
{% endfor %}

{% if user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Curriculum Bug Report Form</h5>
                <button id="close-report-submission" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="feedback-form">
                    <div class="form-group">
                        <label for="report-message">Please provide your feedback here (max 2000 characters).</label>
                        <textarea class="form-control" id="report-message" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p id="submission-feedback"></p>
                <button id="send-feedback-report" type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
        </div>
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="float-right">
    <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#feedbackModal">
        Report a Bug
    </button>
  </div>
</footer>
{% endif %}

<script>
{% if user.is_authenticated %}
$(document).ready(function(){
    $.get("{% url 'get_curriculum_completion_status' curriculum.id %}", function(data, status){
      for (i of data){
        percentage = i.percentage * 100
        if (percentage == 100){
          document.getElementById(i.slug).setAttribute("style", "width: 100%");
          document.getElementById(i.slug).setAttribute("aria-valuenow", 100);
          document.getElementById(i.slug).innerHTML = "Unit Complete!";
        } else if (percentage == 0){
            document.getElementById(i.slug).parentElement.innerHTML = "0%"
        } else {
          document.getElementById(i.slug).setAttribute("style", `width: ${percentage}%`);
          document.getElementById(i.slug).setAttribute("aria-valuenow", percentage);
          document.getElementById(i.slug).innerHTML = `${Math.round(percentage * 10) / 10}%`;
        }
      }
    });


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            let cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++){
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // These HTTP methods do not require CSRF protection
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Setting up ajax headers to include csrftoken
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Feedback modal AJAX send
    $(document).on('click', '#send-bug-report', function(e){
        e.preventDefault();
        if ($("#report-message").val().length > 2000) {
            $("#submission-feedback").text("Your message has exceeded 2000 characters.");
        } else {
            let curriculum_fk = {{ curriculum.id }};
            let report_message = $("#report-message").val();
            let bug_report_JSON = {"curriculum": curriculum_fk, "report_message": report_message};
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: "{% url 'curriculum-report' %}",
                data: JSON.stringify(bug_report_JSON),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    $("#submission-feedback").text("Oops! It seems like something went wrong when sending your data to the server. Please try again later.")
                },
                success: function(data){
                    $(".modal-body").hide();
                    $("#send-bug-report").hide();
                    $("#submission-feedback").text("Thank you for your feedback! Your response has been received.")
                }
            });
        }
    });

    // on closing bug report modal, reset all fields
    $(document).on('click', '#close-report-submission', function(e){
        $("#report-message").val("");
        $(".modal-body").show();
        $("#send-feedback-report").show();
    });
});
{% endif %}
</script>
{% endblock content %}