{% extends 'base.html' %}


{% block title %}{{ lesson.lesson_title }} Test{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div id="questionbox">
        <p id="question-prompt" class=""></p>
    </div>
    <br>
    <div id="answerbox" class="">
        <div id="inputbox"></div>
        <br>
        <button name="submit_answer" type="submit" class="d-none">Check Answer</button>
        <br>
    </div>
    <div id="feedback" class="d-none">
        <div id="feedback-text" class="d-none" role="alert"></div>
        <button id="next" class="btn btn-primary float-right">Next</button>
    </div>
</div>

{% if user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="bugReportModal" tabindex="-1" role="dialog" aria-labelledby="bugReportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bugReportModalLabel">Question Bug Report Form</h5>
                <button id="close-report-submission" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bug-report-form">
                    <div class="form-group">
                        <p>What was the issue with this question?</p>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="DI" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="DI">The question is not displaying correctly</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="PC" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="PC">My answer deserves partial credit (please explain in detail)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="PI" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="PI">There is something wrong with the question prompt</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="AI" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="AI">There is something wrong with the answer(s)</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="OT" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="OT">Other</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="report-message">Please describe the problem in more detail (max 2000 characters).</label>
                        <textarea class="form-control" id="report-message" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p id="submission-feedback"></p>
                <button id="send-bug-report" type="submit" class="btn btn-primary">Send Bug Report</button>
            </div>
        </div>
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="float-right">
    <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#bugReportModal">
      Report a Bug
    </button>
  </div>
</footer>
{% endif %}

<script>
$(document).ready(function(){
    // KaTeX function to render math elements
    renderKatex(document.body);
    function renderKatex(DOM) {
        renderMathInElement(DOM, {
        delimiters: [
                      {left: "$$", right: "$$", display: true},
                      {left: "\\(", right: "\\)", display: false},
                      {left: "\\[", right: "\\]", display: true}
                    ]
        });
    }

    // Gets cookie w/ name attribute
    const csrftoken = getCookie('csrftoken');
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            let cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++){
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // These HTTP methods do not require CSRF protection
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    // Setting up ajax headers to include csrftoken
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // storing DOM elements for manipulation
    const prompt = document.getElementById("question-prompt");
    const answerbox = document.getElementById("answerbox");
    const inputbox = document.getElementById("inputbox");
    const feedbackbox = document.getElementById("feedback");

    // Initializing variables related to questions and data
    let currentQ;
    let question_pack = [];
    let response_data = [];

    $.get("{% url 'get_random_questions' lesson.skill.id  5 %}", function(data, status){
        question_pack = data;
        tester();
    })

    // Top level function that initiates the testing process
    function tester() {
        if (question_pack.length > 0) {
            // sets currentQ to the next question in question_pack list; calls presentQuestion
            currentQ = question_pack.pop()
            presentQuestion();
        } else {
            sendResponseData();
        }
    }

    // When called, changes DOM to present currentQ
    function presentQuestion() {
        // displays question prompt text
        prompt.innerHTML = currentQ.question_prompt;
        renderKatex(prompt);
        // displays question prompt image if present
        if (currentQ.image_url){
            let prompt_image = document.createElement("img");
            prompt_image.setAttribute("id", "prompt-image");
            prompt_image.setAttribute("class", "img-fluid");
            prompt_image.setAttribute("src", currentQ.image_url);
            document.getElementById("questionbox").appendChild(prompt_image);
        }
        switch (currentQ.question_type){
            case "MC":
                // Multiple Choice case
                // Create mc_inputbox form element, append to inputbox as child
                let mc_inputbox = document.createElement("form");
                mc_inputbox.setAttribute("id", "mc_inputbox");
                inputbox.appendChild(mc_inputbox);

                // For each answer choice, create choicebox, append radio input and label to choicebox
                // Append each choicebox to mc_inputbox
                currentQ.answers.forEach(function(value, index, array){
                    let choicebox = document.createElement("div");
                    choicebox.setAttribute("class", "custom-control custom-radio");

                    let input = document.createElement("input");
                    input.setAttribute("type", "radio");
                    input.setAttribute("id", index);
                    input.setAttribute("name", "answer_choice");
                    input.setAttribute("value", value.answer_correctness);
                    input.setAttribute("class", "custom-control-input");
                    choicebox.appendChild(input);

                    let label = document.createElement("label");
                    label.setAttribute("class", "custom-control-label");
                    label.setAttribute("for", index);
                    label.innerHTML = value.answer_text;
                    choicebox.appendChild(label);

                    mc_inputbox.appendChild(choicebox);
                });

                renderKatex(mc_inputbox);
                break;
            case "IC":
                // Image Choice case
                // Create ic_inputbox form element, append to inputbox as child
                let ic_inputbox = document.createElement("form");
                ic_inputbox.setAttribute("id", "ic_inputbox");
                inputbox.appendChild(ic_inputbox);

                // For each answer choice, create choicebox, append radio input and label to choicebox
                // Append each choicebox to ic_inputbox
                currentQ.answers.forEach(function(value, index, array){
                    let choicebox = document.createElement("div");
                    choicebox.setAttribute("class", "custom-control custom-radio custom-control-inline");

                    let input = document.createElement("input");
                    input.setAttribute("type", "radio");
                    input.setAttribute("id", index);
                    input.setAttribute("name", "answer_choice");
                    input.setAttribute("value", value.answer_correctness);
                    input.setAttribute("class", "custom-control-input");
                    choicebox.appendChild(input);

                    let label = document.createElement("label");
                    label.setAttribute("class", "custom-control-label");
                    label.setAttribute("for", index);

                    let answer_image = document.createElement("img");
                    answer_image.setAttribute("style", "max-width:50%");
                    answer_image.setAttribute("src", value.image_url);
                    label.appendChild(answer_image);

                    choicebox.appendChild(label);
                    ic_inputbox.appendChild(choicebox);
                });

                renderKatex(ic_inputbox);
                break;
            case "NI":
                // Numerical Input case
                // Create guppy isntance with id "guppybox", append to inputbox
                let guppybox = document.createElement("div");
                guppybox.setAttribute("id", "guppybox");
                inputbox.appendChild(guppybox);
                new Guppy("guppybox");
                break;
            default:
                $("#inputbox").text("No such question type found.");
        }
        // Displays "submit answer" button
        $("button[name='submit_answer']").attr("class", "btn btn-primary float-right");
    }

    // On "submit_answer" button click
    $("button[name='submit_answer']").on('click', function(e){
        e.preventDefault();

        // Hides "submit answer" button
        $("button[name='submit_answer']").attr("class", "btn btn-primary d-none");

        // Initializes variables to be appended to response
        let q_id = currentQ.id;
        let a_correctness;
        let feedback_text = "";

        // Different ways of retrieving "a_correctness" dependent on question type
        // Different feedback text depending on answer correctness and whether feedback supplied for given answer in currentQ
        switch(currentQ.question_type) {
            case "MC":
                a_correctness = parseFloat($('input[name="answer_choice"]:checked', '#mc_inputbox').val());
                feedback_text = currentQ.answers[$('input[name="answer_choice"]:checked', '#mc_inputbox').attr('id')].answer_explanation
                break;
            case "IC":
                a_correctness = parseFloat($('input[name="answer_choice"]:checked', '#ic_inputbox').val());
                feedback_text = currentQ.answers[$('input[name="answer_choice"]:checked', '#ic_inputbox').attr('id')].answer_explanation
                break;
            case "NI":
                let attempt = Guppy("guppybox").asciimath();
                symbols_used = Guppy("guppybox").symbols_used()
                try {
                    const parsed_attempt = MathExpression.fromText(attempt);
                    let matched = currentQ.answers.find(checkAnswer);
                    function checkAnswer(value, index, array) {
                        return MathExpression.fromText(attempt).equals(MathExpression.fromText(value.answer_text));
                    }
                    if (symbols_used.length == 1 && symbols_used[0] == "fraction"){
                        a_correctness = parseFloat(matched.answer_correctness);
                        feedback_text = matched.answer_explanation;
                    } else if (symbols_used.length > 0){
                        a_correctness = 0;
                        feedback_text = "The answer should be a number!";
                    } else if (typeof matched === "undefined") {
                        a_correctness = 0;
                    } else {
                        a_correctness = parseFloat(matched.answer_correctness);
                        feedback_text = matched.answer_explanation;
                    }
                }
                catch(err){
                    a_correctness = 0;
                    feedback_text = "You have entered an invalid input!"
                }
                break;
        }

        if (a_correctness == 1){
            $("#feedback-text").text("Correct!");
            $("#feedback-text").attr("class", "alert alert-success");
        } else if (a_correctness > 0.5) {
            correct_answer = currentQ.answers.find(function(value, index, array){
                return value.answer_correctness == 1
            });
            $("#feedback-text").text("Close! " + feedback_text + " The correct answer is " + correct_answer.answer_text + ".");
            $("#feedback-text").attr("class", "alert alert-warning");
        } else {
            correct_answer = currentQ.answers.find(function(value, index, array){
                return value.answer_correctness == 1
            });
            $("#feedback-text").text("Incorrect. " + feedback_text + " The correct answer is " + correct_answer.answer_text + ".");
            $("#feedback-text").attr("class", "alert alert-danger");
        }
        renderKatex(feedbackbox);

        // sets feedbackbox to be visible (contains 'next' button)
        feedbackbox.setAttribute("class", "");

        // Aggregates data, appends user response to the question to data_list
        let data = {};
        data.q_id = q_id;
        data.q_type = currentQ.question_type;
        data.a_correctness = a_correctness;
        response_data.push(data);
    });

    // On clicking "next" button, kills DOM nodes, calls tester()
    $("#next").on('click', function(e){
        e.preventDefault();
        // to kill all children in feedbackbox
        feedbackbox.setAttribute("class", "d-none");
        // Removing children from questionbox and inputbox DOM
        if (currentQ.image_url){
            document.getElementById("questionbox").removeChild(document.getElementById("prompt-image"));
        }
        while (prompt.firstChild) {
            prompt.removeChild(prompt.firstChild);
        }
        while (inputbox.firstChild) {
            inputbox.removeChild(inputbox.firstChild);
        }
        tester();
    });

    function sendResponseData(){
        let score = 0;

        // Calculates average of a_correctness of user responses, sets score
        for (i of response_data){
            score += i.a_correctness;
        }
        score /= response_data.length
        if (score < 0){
            score = 0;
        } else if (score > 1) {
            score = 1;
        } else {
            // pass
        }
        const percentage_correct = Math.round(score * 1000) / 10;

        {% if user.is_authenticated %}
        const response = {"score": parseFloat(score.toFixed(3)), "skill_pk": {{ lesson.skill.pk }}};
        console.log(response);
        $.ajax({
            type: "PATCH",
            // To create new url api for this bulk send in backend
            url: "{% url 'post_test_update' %}",
            data: JSON.stringify(response),
            dataType: "json",
            contentType: "application/json",
            error: function(data){
                prompt.innerHTML = "Oops! It seems like something went wrong when sending your data to the server. Please send us a bug report."
            },
            success: function(data){
                {% if request.GET.unit %}
                if (score > 0.6){
                    prompt.innerHTML = `Congrats, you have completed the exit test with a score of ${percentage_correct}%! <br> Click <a href=\"{% url 'units:unit' request.GET.unit %}\">here</a> to go back to the unit page.`
                } else {
                    prompt.innerHTML = `You have completed the lesson with a score of ${percentage_correct}%. We recommend that you review this lesson and its prerequisite lessons before you take the exit test again. <br> Click <a href=\"{% url 'units:unit' request.GET.unit %}\">here</a> to go back to the unit page.`
                }
                {% else %}
                if (score > 0.6){
                    prompt.innerHTML = `Congrats, you have completed the exit test with a score of ${percentage_correct}%!`
                } else {
                    prompt.innerHTML = `You have completed the lesson with a score of ${percentage_correct}%. We recommend that you review this lesson and its prerequisite lessons before you take the exit test again.`
                }
                {% endif %}
            }
        });
        {% else %}
        prompt.innerHTML = `You have completed the exit test with a score of ${percentage_correct}%. Please <a href="{% url 'login' %}">log in</a> to save your progress.`
        {% endif %}
    };

    {% if user.is_authenticated %}
    // On clicking 'send-bug-report', modal form
    $(document).on('click', '#send-bug-report', function(e){
        e.preventDefault();
        if ($('input[name="bugChoice"]:checked').length == 0) {
            $("#submission-feedback").text("Please select the issue with the question.");
        } else if ($("#report-message").val().length > 2000) {
            $("#submission-feedback").text("Your message has exceeded 2000 characters.");
        } else {
            let reason = $('input[name="bugChoice"]:checked', '#bug-report-form').attr('id');
            let question_fk = currentQ.id;
            let report_message = $("#report-message").val();
            let bug_report_JSON = {"question": question_fk, "reason": reason, "report_message": report_message};
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: "{% url 'question-report' %}",
                data: JSON.stringify(bug_report_JSON),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    $("#submission-feedback").text("Oops! It seems like something went wrong when sending your data to the server. Please try again later.")
                },
                success: function(data){
                    $(".modal-body").hide();
                    $("#send-bug-report").hide();
                    $("#submission-feedback").text("Thank you for your feedback! Your response has been received.")
                }
            });
        }
    });

    // on closing bug report modal, reset all fields
    $(document).on('click', '#close-report-submission', function(e){
        $('input[name="bugChoice"]').prop('checked', false);
        $("#report-message").val("");
        $(".modal-body").show();
        $("send-bug-report").show();
    });
    {% endif %}
});
</script>
{% endblock content %}