{% extends 'base.html' %}


{% block title %}{{ lesson.lesson_title}} Test{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <div id="questionbox">
            <p id="question-prompt" class=""></p>
        </div>
        <br>
        <div id="answerbox" class="">
            <div id="inputbox"></div>
            <br>
            <button name="submit_answer" type="submit" class="d-none">Check Answer</button>
            <br>
        </div>
        <div id="feedback" class="d-none">
            <p id="feedback-text"></p>
            <button id="next" class="btn btn-outline-primary float-right">Next</button>
            <br>
        </div>
    </div>
    <hr/>


    <script>
    $(document).ready(function(){
        // KaTeX function to render math elements
        renderKatex(document.body);
        function renderKatex(DOM) {
            renderMathInElement(DOM, {
            delimiters: [
                          {left: "$$", right: "$$", display: true},
                          {left: "\\(", right: "\\)", display: false},
                          {left: "\\[", right: "\\]", display: true}
                        ]
            });
        }

        // Gets cookie w/ name attribute
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                let cookies = document.cookie.split(';');
                for (i = 0; i < cookies.length; i++){
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        // These HTTP methods do not require CSRF protection
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        // Setting up ajax headers to include csrftoken
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // URLs - get question pack related to lesson, and skill level update endpoint
        const get_question_pack = "{% url 'skills:skill_question_pack' lesson.skill.pk %}";
        const skill_level_update_url = "{% url 'userprofiles:update_skill_level' lesson.skill.pk %}";

        // storing DOM elements for manipulation
        const prompt = document.getElementById("question-prompt");
        const answerbox = document.getElementById("answerbox");
        const inputbox = document.getElementById("inputbox");
        const feedbackbox = document.getElementById("feedback");

        // Initializing variables related to questions and data
        let user_skill_level;
        let question_pack_data;
        let currentQ;
        let data_list = [];

        // Retrieves user proficiency data; stores user skill and question data
        $.get(get_question_pack, function(data, status){
            user_skill_level = data.user_skill;
            question_pack_data = data.questions;
            tester();
        });

        // Top level function that starts the testing process
        function tester() {
            if (question_pack_data.length > 0) {
                // sets currentQ to the next question in question_pack_data list; calls presentQuestion
                currentQ = question_pack_data.pop()
                presentQuestion();
            } else {
                // if no more questions to test, calls sendResponseData
                sendResponseData(data_list);
            }
        }

        // When called, changes DOM to present currentQ
        function presentQuestion() {
            // displays question prompt text
            prompt.innerHTML = currentQ.question.question_prompt;
            renderKatex(prompt);

            // displays question prompt image if present
            if (currentQ.question.image_url){
                let prompt_image = document.createElement("img");
                prompt_image.setAttribute("class", "img-fluid");
                prompt_image.setAttribute("src", currentQ.question.image_url);
                document.getElementById("questionbox").appendChild(prompt_image);
            }

            switch (currentQ.question.question_type){
                case "MC":
                    // Multiple Choice case
                    // Create mc_inputbox form element, append to inputbox as child
                    let mc_inputbox = document.createElement("form");
                    mc_inputbox.setAttribute("id", "mc_inputbox");
                    inputbox.appendChild(mc_inputbox);

                    // For each answer choice, create choicebox, append radio input and label to choicebox
                    // Append choicebox to mc_inputbox
                    currentQ.question.answers.forEach(answer_iterator);
                    function answer_iterator(value, index, array){
                        let choicebox = document.createElement("div");
                        choicebox.setAttribute("class", "custom-control custom-radio");

                        let input = document.createElement("input");
                        input.setAttribute("type", "radio");
                        input.setAttribute("id", index);
                        input.setAttribute("name", "answer_choice");
                        input.setAttribute("value", value.answer_correctness);
                        input.setAttribute("class", "custom-control-input");
                        choicebox.appendChild(input);

                        let label = document.createElement("label");
                        label.setAttribute("class", "custom-control-label");
                        label.setAttribute("for", index);
                        label.innerHTML = value.answer_text;
                        choicebox.appendChild(label);

                        mc_inputbox.appendChild(choicebox);
                    }
                    renderKatex(mc_inputbox);
                    break;
                case "NI":
                    // Numerical Input case
                    // Create guppy isntance with id "guppybox", append to inputbox
                    let guppybox = document.createElement("div");
                    guppybox.setAttribute("id", "guppybox");
                    inputbox.appendChild(guppybox);
                    new Guppy("guppybox");
                    break;
                default:
                    $("#inputbox").text("No such question type found.");
            }
            // Displays "submit answer" button
            $("button[name='submit_answer']").attr("class", "btn btn-outline-primary float-right");
        }

        // When called with list of dicts, sends new user skill level as AJAX post response
        function sendResponseData(list){
            delta = 0;
            for (i of list){
                delta += i.a_correctness;
            }
            delta /= list.length
            user_skill_level += delta - 0.5;

            if (user_skill_level < 0){
                user_skill_level = 0;
            } else if (user_skill_level > 1) {
                user_skill_level = 1;
            } else {
                // pass
            }
            response = {new_skill_level: user_skill_level}
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: skill_level_update_url,
                data: JSON.stringify(response),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    prompt.innerHTML = "Oops! It seems like something went wrong when sending your data to the server. Click <a href=\"{% url 'home' %}\">here</a> to go back to the homepage."
                },
                success: function(data){
                    prompt.innerHTML = "Congrats! You have completed the lesson. Click <a href=\"{% url 'home' %}\">here</a> to go back to the homepage.";
                }
            });
        }

        // On "submit_answer" button click
        $("button[name='submit_answer']").on('click', function(e){
            e.preventDefault();

            // Hides "submit answer" button
            $("button[name='submit_answer']").attr("class", "btn btn-outline-primary d-none");

            // Initializes variables to be appended to response
            let q_id = currentQ.question.id;
            let q_type = currentQ.question.question_type;
            let a_correctness;

            // Different ways of retrieving "a_correctness" dependent on question type
            switch(q_type) {
                case "MC":
                    a_correctness = parseFloat($('input[name="answer_choice"]:checked', '#mc_inputbox').val());
                    feedback_text = currentQ.question.answers[$('input[name="answer_choice"]:checked', '#mc_inputbox').attr('id')].answer_explanation
                    break;
                case "NI":
                    let attempt = Guppy("guppybox").asciimath();
                    symbols_used = Guppy("guppybox").symbols_used()
                    try {
                        const parsed_attempt = MathExpression.fromText(attempt);
                        let matched = currentQ.question.answers.find(checkAnswer);
                        function checkAnswer(value, index, array) {
                            return MathExpression.fromText(attempt).equals(MathExpression.fromText(value.answer_text));
                        }
                        if (symbols_used.length > 0){
                            a_correctness = 0;
                            feedback_text = "The answer should be a number!";
                        } else if (typeof matched === "undefined") {
                            a_correctness = 0;
                        } else {
                            a_correctness = parseFloat(matched.answer_correctness);
                            feedback_text = matched.answer_explanation;
                        }
                    }
                    catch(err){
                        a_correctness = 0;
                        feedback_text = "You have entered an invalid input!"
                    }
                    break;
            }

            if (a_correctness == 1){
                $("#feedback-text").text("Correct!");
            } else if (a_correctness > 0.5) {
                correct_answer = currentQ.question.answers.find(function(value, index, array){
                    return value.answer_correctness == 1
                });
                $("#feedback-text").text("Close! " + feedback_text + " The correct answer is " + correct_answer.answer_text + ".");
            } else {
                correct_answer = currentQ.question.answers.find(function(value, index, array){
                    return value.answer_correctness == 1
                });
                $("#feedback-text").text("Incorrect. " + feedback_text + " The correct answer is " + correct_answer.answer_text + " .");
            }
            renderKatex(feedbackbox);
            feedbackbox.setAttribute("class", "");

            // Aggregates data, appends everything to data_list
            let data = {};
            data.q_id = q_id;
            data.q_type = q_type;
            data.a_correctness = a_correctness;
            data_list.push(data);
        });

        // On clicking "next" button, kills DOM nodes,calls tester()
        $("#next").on('click', function(e){
            e.preventDefault();
            // to kill all children in feedbackbox
            feedbackbox.setAttribute("class", "d-none");
            // Removing children from questionbox and inputbox DOM
            if (currentQ.question.image_url){
                document.getElementById("questionbox").removeChild(prompt_image);
            }
            while (prompt.firstChild) {
                prompt.removeChild(prompt.firstChild);
            }
            while (inputbox.firstChild) {
                inputbox.removeChild(inputbox.firstChild);
            }
            tester();
        });
    });
    </script>
{% endblock content %}