{% extends 'base.html' %}


{% block title %}Math Site{% endblock title %}

{% block content %}

{% if user.is_authenticated and user.profile.currently_studying %}
<div id="greeting" class="alert alert-primary text-center" role="alert"></div>
<br>
<div id="challenge" class="jumbotron">
    <h5>Question of the Day</h5>
    <hr>
    <div id="questionbox">
        <p id="question-prompt" class=""></p>
    </div>
    <br>
    <div id="answerbox" class="">
        <div id="inputbox"></div>
        <br>
        <button name="submit_answer" type="submit" class="d-none">Check Answer</button>
        <br>
    </div>
    <div id="feedback" class="d-none">
        <div id="feedback-text" class="d-none" role="alert"></div>
    </div>
</div>
<br>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
          <h5>About</h5>
          <a href="{% url 'about' %}" class="text-secondary">About</a><br>
          <a href="{% url 'faq' %}" class="text-secondary">FAQ</a><br>
          <a href="{% url 'roadmap' %}" class="text-secondary">Roadmap</a><br>
      </div>
      <div class="col-6 col-md">
          <h5>Legal</h5>
          <a href="{% url 'terms-and-conditions' %}" class="text-secondary">Terms and Conditions</a><br>
          <a href="{% url 'privacy-policy' %}" class="text-secondary">Privacy</a><br>
      </div>
      <div class="col-6 col-md">
          <h5>Resources</h5>
          <a href="#" class="text-secondary">Under Construction...</a><br>
      </div>
      <div class="col-6 col-md">
        <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#feedbackModal">
            Give Feedback
        </button>
      </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Feedback Form</h5>
                <button id="close-report-submission" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="feedback-form">
                    <div class="form-group">
                        <label for="report-message">Please provide your feedback here (max 2000 characters).</label>
                        <textarea class="form-control" id="report-message" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p id="submission-feedback"></p>
                <button id="send-feedback-report" type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    function renderKatex(DOM) {
        renderMathInElement(DOM, {
        delimiters: [
                      {left: "$$", right: "$$", display: true},
                      {left: "\\(", right: "\\)", display: false},
                      {left: "\\[", right: "\\]", display: true}
                    ]
        });
    }

    {% if user.profile.last_lesson_completion %}
    // streak stuff
    let streak_start = new Date("{{ user.profile.streak_start|date:"Y-m-d" }}");
    let last_completion = new Date("{{ user.profile.last_lesson_completion|date:"Y-m-d" }}");
    let now = Date.now()
    let streak_length = (last_completion.getTime() - streak_start.getTime()) / (1000*60*60*24)
    if (streak_length > 1){
        if (last_completion.getFullYear() == now.getFullYear() && last_completion.getMonth() == now.getMonth() && last_completion.getDate() == now.getDate()){
            document.getElementById("greeting").innerHTML = `Welcome back {{ user.username }}! You've extended your streak to ${streak_length} days in a row!`
        } else if ((last_completion.getTime() - now.getTime()) / (1000*60*60*24) < 1){
            document.getElementById("greeting").innerHTML = `Welcome back {{ user.username }}! Complete a lesson today to maintain your streak to ${streak_length} days in a row!`
        } else {
            document.getElementById("greeting").innerHTML = `Welcome back {{ user.username }}!`
            // pass
        }
    } else {
        document.getElementById("greeting").innerHTML = `Welcome back {{ user.username }}!`
    }
    {% else %}
    document.getElementById("greeting").innerHTML = `Welcome back {{ user.username }}!`
    {% endif %}

    // storing DOM elements for manipulation
    const prompt = document.getElementById("question-prompt");
    const answerbox = document.getElementById("answerbox");
    const inputbox = document.getElementById("inputbox");
    const feedbackbox = document.getElementById("feedback");

    // initializing variables to be populated client-side
    let currentQ;

    // Retrieves terminus lesson data and random question for one of these lessons for the particular user
    $.get("{% url 'get_homepage_data'%}", function(data, status){
        currentQ = data.question;

        // Setting up DOM challenge using data.question
        prompt.innerHTML = currentQ.question_prompt;
        renderKatex(prompt);

        // displays question prompt image if present
        if (currentQ.image_url){
            let prompt_image = document.createElement("img");
            prompt_image.setAttribute("class", "img-fluid");
            prompt_image.setAttribute("src", currentQ.image_url);
            document.getElementById("questionbox").appendChild(prompt_image);
        }

        // depending on question type, different execution
        switch (currentQ.question_type){
            case "MC":
                // Multiple Choice case
                // Create mc_inputbox form element, append to inputbox as child
                let mc_inputbox = document.createElement("form");
                mc_inputbox.setAttribute("id", "mc_inputbox");
                inputbox.appendChild(mc_inputbox);

                // For each answer choice, create choicebox, append radio input and label to choicebox
                // Append each choicebox to mc_inputbox
                currentQ.answers.forEach(function(value, index, array){
                    let choicebox = document.createElement("div");
                    choicebox.setAttribute("class", "custom-control custom-radio");

                    let input = document.createElement("input");
                    input.setAttribute("type", "radio");
                    input.setAttribute("id", index);
                    input.setAttribute("name", "answer_choice");
                    input.setAttribute("value", value.answer_correctness);
                    input.setAttribute("class", "custom-control-input");
                    choicebox.appendChild(input);

                    let label = document.createElement("label");
                    label.setAttribute("class", "custom-control-label");
                    label.setAttribute("for", index);
                    label.innerHTML = value.answer_text;
                    choicebox.appendChild(label);

                    mc_inputbox.appendChild(choicebox);
                });

                renderKatex(mc_inputbox);
                break;
            case "IC":
                // Image Choice case
                // Create ic_inputbox form element, append to inputbox as child
                let ic_inputbox = document.createElement("form");
                ic_inputbox.setAttribute("id", "ic_inputbox");
                inputbox.appendChild(ic_inputbox);

                // For each answer choice, create choicebox, append radio input and label to choicebox
                // Append each choicebox to ic_inputbox
                currentQ.answers.forEach(function(value, index, array){
                    let choicebox = document.createElement("div");
                    choicebox.setAttribute("class", "custom-control custom-radio custom-control-inline");

                    let input = document.createElement("input");
                    input.setAttribute("type", "radio");
                    input.setAttribute("id", index);
                    input.setAttribute("name", "answer_choice");
                    input.setAttribute("value", value.answer_correctness);
                    input.setAttribute("class", "custom-control-input");
                    choicebox.appendChild(input);

                    let label = document.createElement("label");
                    label.setAttribute("class", "custom-control-label");
                    label.setAttribute("for", index);

                    let answer_image = document.createElement("img");
                    answer_image.setAttribute("style", "max-width:200px;max-height:200px");
                    answer_image.setAttribute("src", value.image_url);
                    label.appendChild(answer_image);

                    choicebox.appendChild(label);
                    ic_inputbox.appendChild(choicebox);
                });

                renderKatex(ic_inputbox);
                break;
            case "NI":
                // Numerical Input case
                // Create guppy isntance with id "guppybox", append to inputbox
                let guppybox = document.createElement("div");
                guppybox.setAttribute("id", "guppybox");
                inputbox.appendChild(guppybox);
                new Guppy("guppybox");
                break;
            default:
                $("#inputbox").text("No such question type found.");
        }
        // Displays "submit answer" button
        $("button[name='submit_answer']").attr("class", "btn btn-primary float-right");
    });

    // On "submit_answer" button click
    $("button[name='submit_answer']").on('click', function(e){
        e.preventDefault();

        // Hides "submit answer" button
        $("button[name='submit_answer']").attr("class", "btn btn-primary d-none");
        let feedback_text = "";

        // Different ways of retrieving "a_correctness" dependent on question type
        // Different feedback text depending on answer correctness and whether feedback supplied for given answer in currentQ
        switch(currentQ.question_type) {
            case "MC":
                a_correctness = parseFloat($('input[name="answer_choice"]:checked', '#mc_inputbox').val());
                feedback_text = currentQ.answers[$('input[name="answer_choice"]:checked', '#mc_inputbox').attr('id')].answer_explanation
                break;
            case "IC":
                a_correctness = parseFloat($('input[name="answer_choice"]:checked', '#ic_inputbox').val());
                feedback_text = currentQ.answers[$('input[name="answer_choice"]:checked', '#ic_inputbox').attr('id')].answer_explanation
                break;
            case "NI":
                let attempt = Guppy("guppybox").asciimath();
                symbols_used = Guppy("guppybox").symbols_used()
                try {
                    const used_permitted_symbols = symbols_used.every(val => currentQ.permitted_symbols.includes(val));
                    const parsed_attempt = MathExpression.fromText(attempt);
                    let matched = currentQ.answers.find(checkAnswer);
                    function checkAnswer(value, index, array) {
                        return MathExpression.fromText(attempt).equals(MathExpression.fromText(value.answer_text));
                    }
                    if (typeof matched === "undefined"){
                        a_correctness = 0;
                    } else if (!used_permitted_symbols){
                        a_correctness = 0;
                        feedback_text = "The answer uses non-permitted operations!";
                    } else {
                        a_correctness = parseFloat(matched.answer_correctness);
                        feedback_text = matched.answer_explanation;
                    }
                }
                catch(err){
                    a_correctness = 0;
                    feedback_text = "You have entered an invalid input!"
                }
                break;
        }

        if (a_correctness == 1){
            $("#feedback-text").text("Correct!");
            $("#feedback-text").attr("class", "alert alert-success");
        } else if (a_correctness > 0.5) {
            correct_answer = currentQ.answers.find(function(value, index, array){
                return value.answer_correctness == 1
            });
            $("#feedback-text").text("Close! " + feedback_text + " The correct answer is " + correct_answer.answer_text + ".");
            $("#feedback-text").attr("class", "alert alert-warning");
        } else {
            correct_answer = currentQ.answers.find(function(value, index, array){
                return value.answer_correctness == 1
            });
            $("#feedback-text").text("Incorrect. " + feedback_text + " The correct answer is " + correct_answer.answer_text + ".");
            $("#feedback-text").attr("class", "alert alert-danger");
        }
        renderKatex(feedbackbox);

        // sets feedbackbox to be visible
        feedbackbox.setAttribute("class", "");
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            let cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++){
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // These HTTP methods do not require CSRF protection
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Setting up ajax headers to include csrftoken
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Feedback modal AJAX send
    $(document).on('click', '#send-feedback-report', function(e){
        e.preventDefault();
        if ($("#report-message").val().length > 2000) {
            $("#submission-feedback").text("Your message has exceeded 2000 characters.");
        } else {
            let report_message = $("#report-message").val();
            let feedback_JSON = {"report_message": report_message};
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: "{% url 'general-report' %}",
                data: JSON.stringify(feedback_JSON),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    $("#submission-feedback").text("Oops! It seems like something went wrong when sending your data to the server. Please try again later.")
                },
                success: function(data){
                    $(".modal-body").hide();
                    $("#send-feedback-report").hide();
                    $("#submission-feedback").text("Thank you for your feedback! Your response has been received.")
                }
            });
        }
    });

    // on closing bug report modal, reset all fields
    $(document).on('click', '#close-report-submission', function(e){
        $("#report-message").val("");
        $(".modal-body").show();
        $("#send-feedback-report").show();
    });
});
</script>

{% elif user.is_authenticated and not user.profile.currently_studying %}

<div class="alert alert-primary text-center" role="alert">Welcome to MathCAT {{ user.username }}!</div>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Just one more step...</h5>
      <p class="card-text">Click <a class="dropdown-item" href="{% url 'userprofiles:profile_update' %}">here</a> to tell us what courses you are studying for.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
          <h5>About</h5>
          <a href="{% url 'about' %}" class="text-secondary">About</a><br>
          <a href="{% url 'faq' %}" class="text-secondary">FAQ</a><br>
          <a href="{% url 'roadmap' %}" class="text-secondary">Roadmap</a><br>
      </div>
      <div class="col-6 col-md">
          <h5>Legal</h5>
          <a href="{% url 'terms-and-conditions' %}" class="text-secondary">Terms and Conditions</a><br>
          <a href="{% url 'privacy-policy' %}" class="text-secondary">Privacy</a><br>
      </div>
      <div class="col-6 col-md">
          <h5>Resources</h5>
          <a href="#" class="text-secondary">Under Construction...</a><br>
      </div>
      <div class="col-6 col-md">
        <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#feedbackModal">
            Give Feedback
        </button>
      </div>
    </div>


{% else %}
<div class="container">
    <h2>Welcome to StudyCAT!</h2><br>
        <p>
        StudyCAT is a free web application that uses a Computerized Adaptive Teaching (CAT) algorithm to help you learn math.<br>
        If you are a returning user, please log in.<br>
        If you are a new user, feel free to read the site introduction below and experiment with the demo!
        </p>
    <br>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
          <h5>About</h5>
          <a href="{% url 'about' %}" class="text-secondary">About</a><br>
          <a href="{% url 'faq' %}" class="text-secondary">FAQ</a><br>
          <a href="{% url 'roadmap' %}" class="text-secondary">Roadmap</a><br>
      </div>
      <div class="col-6 col-md">
          <h5>Legal</h5>
          <a href="{% url 'terms-and-conditions' %}" class="text-secondary">Terms and Conditions</a><br>
          <a href="{% url 'privacy-policy' %}" class="text-secondary">Privacy</a><br>
      </div>
      <div class="col-6 col-md">
          <h5>Resources</h5>
          <a href="#" class="text-secondary">Under Construction...</a><br>
      </div>
      <div class="col-6 col-md text-center">
      </div>
    </div>
</footer>

{% endif %}
{% endblock content %}