{% extends 'base.html' %}


{% block title %}Math Site{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<p>Welcome back {{ user.username }}! </p>

<br>
<div class="jumbotron">
    <h5>I've recently learned about...</h5>
    <br>
    <div class="card-deck" id="learned">
    </div>
</div>

<br>

<div class="jumbotron">
    <div class="card-deck" id="ready-to-learn">
    </div>
    <br>
    <h5>I can now learn about...</h5>
</div>
<br>

<div>
    <p>Any questions, concerns, or comments? Please provide your feedback here!</p>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#feedbackModal">
        Give Feedback
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Feedback Form</h5>
                <button id="close-report-submission" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="feedback-form">
                    <div class="form-group">
                        <label for="report-message">Please provide your feedback here (max 2000 characters).</label>
                        <textarea class="form-control" id="report-message" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p id="submission-feedback"></p>
                <button id="send-feedback-report" type="submit" class="btn btn-primary">Submit Feedback</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            let cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++){
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // These HTTP methods do not require CSRF protection
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Setting up ajax headers to include csrftoken
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    // initializing variables to be retrieved from server
    const get_user_skills_url = "{% url 'userprofiles:get_subject_skills' 'mathematics' %}";
    let parent_adjacency_matrix;
    let child_adjacency_matrix;
    let user_skill_vector;

    // initializing variables to be populated client-side
    let to_test = [];
    let terminal_ids = new Set();
    let potential_next_skills = new Set();
    let next_skills = [];

    $.get(get_user_skills_url, function(data, status){
        // Retrieves user skill level array (topological order) and parent adjacency matrix from server
        // child adjacency matrix is the transpose of parent adjacency matrix
        user_skill_vector = data.skill_level_list;
        parent_adjacency_matrix = data.adjacency_matrix;
        child_adjacency_matrix = parent_adjacency_matrix[0].map((col, i) => parent_adjacency_matrix.map(row => row[i]));

        // populates to_test with root nodes of the graph
        parent_adjacency_matrix.forEach(function(value, index, array){
            if (value == array[0]){
                if (user_skill_vector[index] < 0.5){
                    next_skills.push(index)
                } else {
                    to_test.push(index);
                }
            }
        });

        while (to_test.length > 0){
            // for each check_index in to_test, get child topological order id list
            check_index = to_test.pop();
            child_ids = [];
            child_adjacency_matrix[check_index].forEach(function(value, index, array){
                if (value == 1){
                    child_ids.push(index);
                }
            });
            if (child_ids.length == 0){
                terminal_ids.add(check_index);
            } else {
                // for each child of check_index...
                // if user skill < 0.5 add check_index to terminal_ids set, add child to potential_next_skills set
                // else add child topological order to to_test
                for (x of child_ids){
                    if (user_skill_vector[x] < 0.5){
                        terminal_ids.add(check_index);
                        potential_next_skills.add(x);
                    } else {
                        to_test.push(x);
                    }
                }
            }
        }

        for (x of potential_next_skills){
            // for x in potential_next_skills, get its parent topolotical order ids as a set
            // if all parents are in the terminal_ids set, x is pushed to the true next_skills list
            parent_ids = new Set();
            parent_adjacency_matrix[x].forEach(function(value, index, array){
                if (value == 1){
                    parent_ids.add(index)
                }
            });
            if (isSuperset(terminal_ids, parent_ids)){
                next_skills.push(x);
            }
            function isSuperset(set, subset) {
                for (let elem of subset) {
                    if (!set.has(elem)) {
                        return false
                    }
                }
                return true
            }
        }
        terminal_ids = Array.from(terminal_ids);
        data_url = "{% url 'skills:homepage-data' %}"
        terminal_id_string = "?";
        next_skills_string = "";
        for (i = 0; i < terminal_ids.length; i++){
            terminal_id_string += "terminal_ids=" + terminal_ids[i] + "&";
        }
        for (i = 0; i < next_skills.length; i++){
            next_skills_string += "next_skills=" + next_skills[i] + "&";
        }
        $.get(data_url.concat(terminal_id_string, next_skills_string), function(data, status){
            terminal_lessons_data = data.terminal_lessons_data;
            next_lessons_data = data.next_lessons_data;
            const lessons_url = "http://127.0.0.1:8000/lessons/";
            let learned =  document.getElementById("learned");
            let ready_to_learn =  document.getElementById("ready-to-learn");
            terminal_lessons_data.forEach(function(value, index, array){
                // Initializing card, card_body, link, and title vars
                let card = document.createElement("div");
                let card_body = document.createElement("div");
                let lesson_link = document.createElement("a");
                let card_title = document.createElement("h5");
                // Setting attributes
                card_title.setAttribute("class", "card-title");
                card_title.innerHTML = value.lesson_title;
                lesson_link.setAttribute("href", lessons_url.concat(value.lesson_slug));
                card_body.setAttribute("class", "card-body");
                card.setAttribute("id", value.lesson_slug);
                card.setAttribute("data-topological-order", terminal_ids[index]);
                card.setAttribute("class", "card text-center");
                // Appending children
                lesson_link.appendChild(card_title);
                card_body.appendChild(lesson_link);
                card.appendChild(card_body);
                learned.appendChild(card);
            })
            next_lessons_data.forEach(function(value, index, array){
                // Initializing card, card_body, link, and title vars
                let card = document.createElement("div");
                let card_body = document.createElement("div");
                let lesson_link = document.createElement("a");
                let card_title = document.createElement("h5");
                // Setting attributes
                card_title.setAttribute("class", "card-title");
                card_title.innerHTML = value.lesson_title;
                lesson_link.setAttribute("href", lessons_url.concat(value.lesson_slug));
                lesson_link.setAttribute("class", "text-warning");
                card_body.setAttribute("class", "card-body");
                card.setAttribute("id", value.lesson_slug);
                card.setAttribute("data-topological-order", next_skills[index]);
                card.setAttribute("class", "card text-center");
                // Appending children
                lesson_link.appendChild(card_title);
                card_body.appendChild(lesson_link);
                card.appendChild(card_body);
                ready_to_learn.appendChild(card);
            })

            for (i of next_skills){
                parent_terminal_skills = [];
                parent_adjacency_matrix[i].forEach(function(value, index, array){
                    if (value == 1){
                        parent_terminal_skills.push(index);
                    }
                });
                parent_terminal_skills.forEach(function(value, index, array){
                    parent_card_id = $(`div[data-topological-order="${value}"]`).attr('id');
                    child_card_id = $(`div[data-topological-order="${i}"]`).attr('id');
                    jsPlumb.connect({source: parent_card_id, target: child_card_id});
                });
            }
        });
    });

    $(document).on('click', '#send-feedback-report', function(e){
        e.preventDefault();
        if ($("#report-message").val().length > 2000) {
            $("#submission-feedback").text("Your message has exceeded 2000 characters.");
        } else {
            let report_message = $("#report-message").val();
            let feedback_JSON = {"report_message": report_message};
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: "{% url 'general-report' %}",
                data: JSON.stringify(feedback_JSON),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    console.log(data);
                    $("#submission-feedback").text("Oops! It seems like something went wrong when sending your data to the server. Please try again later.")
                },
                success: function(data){
                    $(".modal-body").hide();
                    $("#send-feedback-report").hide();
                    $("#submission-feedback").text("Thank you for your feedback! Your response has been received.")
                }
            });
        }
    });

    // on closing bug report modal, reset all fields
    $(document).on('click', '#close-report-submission', function(e){
        $("#report-message").val("");
        $(".modal-body").show();
        $("#send-feedback-report").show();
    });
});
</script>

{% else %}
<div class="container">
    <h2>Welcome to StudyCAT!</h2><br>
        <p>
        StudyCAT is a free web application that uses a Computerized Adaptive Teaching (CAT) algorithm to help you learn math.<br>
        If you are a returning user, please log in.<br>
        If you are a new user, feel free to read the site introduction below and experiment with the demo!
        </p>
    <br>
  <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#about">How it Works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#demo">Demo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#rationale">Rationale</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#roadmap">Roadmap</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#faq">FAQ</a>
    </li>
</ul>

  <!-- Tab panes -->
<div class="tab-content">
    <div id="about" class="container tab-pane active"><br>
        <p>StudyCAT follows a 3 step process to help you learn math:
            <ol>
                <li>First, you complete a short quiz to let us know how much you already know.</li>
                <li>The algorithm gives you lessons and questions on topics based on your current knowledge.</li>
                <li>The algorithm analyzes your answers and gives you new lessons and questions based on your personal progress.</li>
            </ol>
        Because the algorithm delivers lessons and questions based on an estimate of your personal knowledge and adjusts it based on your responses, StudyCAT requires you to create an account to track and save your progress.
        If you are still unsure of how StudyCAT estimates your knowledge, you can try out the demo in the 'Demo' tab without creating an account.
        </p>
    </div>
    <div id="demo" class="container tab-pane fade"><br>
        <p id="instructions">This is a short 3 question demonstration of how StudyCAT estimates how much you know.</p>
        <button id="start" class="btn btn-outline-primary">Start Demo!</button>
        <div id="test" class="d-none">
            <p id="question-prompt"></p>
            <div id="answerbox"></div>
            <br>
            <p id="feedback"></p>
            <br>
            <button name="submit_answer" type="submit" class="btn btn-outline-primary">Submit</button>
        </div>

    </div>
    <div id="rationale" class="container tab-pane"><br>
        <h5>Motivations of StudyCAT</h5>
        <p>
        The typical classroom has one universal characteristic — one teacher teaches a group of students.
        While this educational model has existed for millennia, there are two inherent problems with this paradigm:
            <ol>
                <li>The quality of education heavily depends on the teacher.</li>
                <li>Each student cannot receive personalized instruction in the classroom.</li>
            </ol>
        Addressing the first point, although most teachers usually receive higher education prior to teaching, the quality of teaching is still highly variable among teachers.
        This results in the unfortunate case where the students' quality of education is limited by the abilities of the teacher.
        <br><br>
        With regards to the second point, since there is only one teacher among many students, the teacher must teach material at an "average" pace.
        Even though students in a class might have different levels of prior knowledge, the teacher must teach material that is at the "average" level of the class.
        Even though students in a class might learn at different speeds, the teacher must teach each lesson to their class at the same speed.
        <br><br>
        Bearing these two concerns in mind, MathCAT was created (and is being developed) with these two central tenets in mind:
            <ol>
                <li>Every student deserves an education of high quality.</li>
                <li>Every student should receive personalized instruction.</li>
            </ol>
        <br>
        All else follows.
        <br>
        </p>
    </div>
    <div id="roadmap" class="container tab-pane fade"><br>
        <h5>A Message from the Developer</h5>
        <p>Thank you very much for visiting StudyCAT!<br><br>
        This has been a personal project of mine since 2018. As the website is still in pre-alpha, there are still a lot of errors, bugs, and missing content, so please use the site at your own discretion.
        If you have any comments, concerns, or bug reports, please do not hesitate to contact me.<br><br>
        <h5>Future Directions</h5>
        In the near future, high-priority tasks include:
            <ul>
            <li>Bug fixes</li>
            <li>UI improvements (answer input fixes, CSS styling, etc.)</li>
            <li>Database model improvements</li>
            <li>Algorithm optimization (false positives/negatives, item calibration, placement test optimization etc.)</li>
            <li>Lesson and question improvements</li>
            </ul>
        In the long term, future tasks might involve:
            <ul>
            <li>Incorporating various math curricula, such as IB, A-levels</li>
            <li>Support for teachers' ability to model students' progress</li>
            <li>Including other subjects such as Physics, Chemistry, etc.</li>
            <li>Localization to other languages</li>
            </ul>
        Other suggestions are always welcome. Happy learning!
        </p>
    </div>
    <div id="faq" class="container tab-pane fade"><br>
        <h5>I am a teacher. How should I use this website?</h5>
        <p>
            The website is well suited for formative assessment. Note that because most answer evaluations are done client-side, the answering process is not secure and therefore should not be used for summative assessment.
            Curriculum alignment is a future goal that, when implemented, can be used to see how well students are grasping material corresponding to learning objectives.
        </p>
        <h5>How can I contribute?</h5>
        <p>
         If you are a user, you can help just by using the site! Data on response patterns is very useful for calibration, and your bug reports and written feedback always help improve the site.
         If you have expertise in computerized adaptive testing, knowledge graphs or item response theory, please contact me directly as I would immensely appreciate your input.
        </p>
        <h5>More details on the algorithm?</h5>
        <p>Concepts are arranged in a hierarchical skill tree, where fundamental skills must be learned before more complicated ones.
            These dependencies are modelled using directed graphs, where each node is a concept and connections between nodes represent strengths of their relationships.
            Each question tests the user's proficiency at a certain node, and the knowledge level of a user is updated depending on their response to the question.
        </p>
        <h5>Technical details of the website?</h5>
        <p>Database: PostgreSQL.<br>
            Backend: Django and Django REST Framework.<br>
            Frontend: Django, with a heavy reliance on AJAX requests and jQuery for responsive elements. Bootstrap CSS.<br>
            Special thanks to the Guppy math editor (daniel3735928559), math-expressions (kisonecat), and KaTeX libraries!
        </p>
    </div>
</div>
</div>

<script>
    function renderKatex(DOM) {
        renderMathInElement(DOM, {
        delimiters: [
                      {left: "$$", right: "$$", display: true},
                      {left: "\\(", right: "\\)", display: false},
                      {left: "\\[", right: "\\]", display: true}
                    ]
        });
    }
    const q1 = [{prompt: "Compute $$ cos(\frac{2\pi}{3}) $$",
                answers: [{answer: "-(1)/(2)", response: 1, next_id: 1},
                          {answer: "(1 / 2)", response: 2, next_id: 2},
                          {answer: "(1 / squareroot(2))", response: 2, next_id: 2},
                          {answer: "neg((1 / squareroot(2)))", response: 2, next_id:2},
                          {answer: "(squareroot(3) / 2)", response: 2, next_id: 2},
                          {answer: "neg((squareroot(3) / 2))", response: 2, next_id: 2},
                          {answer: "0", response: 2, next_id: 2},
                          {answer: "1", response: 2, next_id: 2},
                          {answer: "neg(1)", response: 2, next_id: 2}],
                default: 0,
                responses: ["Your answer suggests that you have not yet learned about trigonometric functions, or need some review.",
                            "You entered the correct answer $$-(1)/(2)$$ for the question, which suggests that you are proficient with trigonometric functions and their common angles.",
                            "Although your answer was incorrect, it is one of the common outputs for trigonometric functions with 'nice' angles. This suggests that you have learned some trigonometry before, but might need some review."
                           ]
                }
               ];
    const q2 = [{prompt: "Let $$y=3x+4$$. If $$y=1$$, calculate $$x$$.",
                 answers : [{answer: "-1", response: 1, next_id: 1},
                            {answer: "1", response: 2, next_id: 0},
                            {answer: "7", response: 2, next_id: 0}],
                 default: 0,
                 responses: ["Your response shows it is likely that you have not yet learned about variables, or need some review.",
                             "You have entered the correct answer, meaning that you have a good grasp of what variables are and how to manipulate equations.",
                             "You have entered an incorrect answer, but the answer you entered shows some understanding of variables, so you probably need some practice in manipulating equations."
                            ]
                 },
                {prompt: "Compute $$(d)/(dx)((x)^(3)+ cos(x))$$.",
                answers: [{answer: "((3 * (x^2)) - sin(x))", response: 1, next_id: 3},
                          {answer: "((3 * (x^2)) + sin(x))", response: 2, next_id: 3},
                          {answer: "((3 * (x^3)) - sin(x))", response: 3, next_id: 2},
                          {answer: "((3 * x) - sin(x))", response: 3, next_id: 2},
                          {answer: "((3 * (x^2)) + cos(x))", response: 3, next_id: 2}
                         ],
                default: 4,
                responses: ["Your response shows that you have not yet learned about calculus.",
                            "You have entered the correct answer, showing understanding of both the power rule and the derivative of the cosine function.",
                            "You have entered an incorrect answer, however your answer suggests that you have an understanding of the power rule and perhaps could use some practice on differentiating the cosine function.",
                            "Although you have successfully differentiated the sine function, your answer shows that you could use some review regarding the power rule.",
                           ]
                },
                {prompt: "Let $$f * (x) = (e^(x + 2))$$. Calculate $$((f^neg(1)) * (x))$$.",
                 answers : [{answer: "(ln(x) - 2)", response: 1, next_id: 2},
                            {answer: "(ln(y) - 2)", response: 2, next_id: 4},
                            {answer: "(ln(x) + 2)", response: 2, next_id: 4},
                            {answer: "(log(x) - 2)", response: 2, next_id: 4},
                            {answer: "(ln(x - 2))", response: 2, next_id: 4},
                            {answer: "(ln(x + 2))", response: 2, next_id: 4},
                            {answer: "(log(x - 2))", response: 2, next_id: 4},
                            {answer: "(log(x - 2))", response: 2, next_id: 4},
                            {answer: "(1 / (e^(x + 2)))", response: 3, next_id: 4},
                           ],
                 default: 1,
                 responses: ["Your response shows that you might not have learned about function inverses yet, or could use some review.",
                             "You have entered the correct answer, meaning that you have a very good understanding of function inverses, exponents, and logarithms.",
                             "You have entered an incorrect answer, but the answer you entered shows some understanding of function inverses, so you probably need some review.",
                             "You have entered the multiplicative inverse, suggesting that you might not have learned about function inverses yet."
                            ]
                 }
               ];
    const q3 = [{prompt: "What is $$4*5$$?",
                 answers : [{answer: "20", response: 1, next_id: 0}],
                 responses: ["Your response shows you could use some review in multiplication.",
                             "You have entered the correct answer, meaning that you have a good understanding of multiplication."
                            ]
                 },
                 {prompt: "Let $$f(x)=3x-1$$. Calculate $$f(5)$$.",
                 answers : [{answer: "14", response: 1, next_id: 0},
                            {answer: "2", response: 2, next_id: 0},
                            {answer: "15x-5", response: 3, next_id: 0},
                            {answer: "15x-1", response: 3, next_id: 0}
                            ],
                 responses: ["Your response shows it is likely that you have not yet learned about functions, or could use some review.",
                             "You have entered the correct answer, meaning that you have a good grasp of what functions are and how to calculate the output given a function and an input.",
                             "You have entered an incorrect answer, but the answer you entered shows some understanding of function inverses, so you probably need some review.",
                             "You attempted to multiply the function by $$5$$, indicating that you have not yet learned about function notation, or could use some review."
                            ]
                 },
                {prompt: "Compute $$((d / (d * x)) * (2x^4)$$. ",
                 answers : [{answer: "(8 * (x^3))", response: 1, next_id: 0},
                            {answer: "(6 * (x^3))", response: 2, next_id: 0},
                           ],
                 responses: ["Your response shows that you haven't yet learned about derivatives and the power rule, could use some review.",
                             "You have entered the correct answer, showing knowledge of the power rule.",
                             "This answer shows an incorrect understanding of the power rule, but does show that you have some basic notion of derivatives."
                            ]
                 },
                 {prompt: "Compute $$defintegral(1,2,(x / ((x^2) + 1)),x)$$. ",
                 answers : [{answer: "(((1 / 2) * ln(5)) - ((1 / 2) * ln(2)))", response: 1, next_id: 0},
                            {answer: "(((1 / 2) * ln(2)) - ((1 / 2) * ln(5)))", response: 2, next_id: 0},
                            {answer: "(((1 / 2) * ln(2)) + ((1 / 2) * ln(5)))", response: 3, next_id: 0},
                            {answer: "(ln(5) - ln(2))", response: 4, next_id: 0},
                            {answer: "(2 * (ln(5) - ln(2)))", response: 4, next_id: 0},
                            {answer: "ln(2)", response: 5, next_id: 0}],
                 responses: ["Your response shows it is likely that you have not yet learned about u-substitution integration, or could use some review.",
                             "You have entered the correct answer, showing proficiency in integration techniques such as u-substitution.",
                             "This answer is has the correct limits switched, showing that you have learned about integration and u-substitution but need some review.",
                             "This answer has the indicates correct calculation of the integral but a mistake in signs when computing the definite integral, suggesting that you have learned about integration and u-substitution but need some review.",
                             "This answer shows some understanding of the u-substitution technique, but you did not correctly take into account the factor of $$1/2$$ when substituting.",
                             "This answer shows understanding of the u-substitution integration technique, however the integral was evaluated with incorrect limits in terms of $$x$$ instead of $$u$$.",
                            ]
                 },
                 {prompt: "Let $$f(x)= ((2 * x) + 1)$$ and $$g(x)=(x^2)$$. Calculate $$f(g(x))$$.",
                 answers : [{answer: "((2 * (x^2)) + 1)", response: 1, next_id: 0},
                            {answer: "(((2 * x) + 1)^2)", response: 2, next_id: 0},
                           ],
                 responses: ["Your response shows it is likely that you have not yet learned about composed functions, or could use some review.",
                             "You have entered the correct answer, showing knowledge of computing composed functions.",
                             "You have computed $$g(f(x))$$, showing some knowledge of composed functions, but you could use some review."
                            ]
                 },
               ];

    $(document).ready(function(){
        document.getElementById("question-prompt").innerHTML = q1[0].prompt;
        renderKatex(document.getElementById("question-prompt"));
        new Guppy("answerbox");
        let current_question = 1;
        let next_id;
        $("button[name='submit_answer']").on('click', function(e){
            e.preventDefault();
                let attempt = Guppy("answerbox").asciimath();
                try {
                    const parsed_attempt = MathExpression.fromText(attempt);
                    let matched = q1[0].answers.find(checkAnswer);
                    function checkAnswer(value, index, array) {
                        return MathExpression.fromText(attempt).equals(MathExpression.fromText(value.answer));
                    }
                    if (typeof matched === "undefined"){
                        next_id = 0;
                        $("#feedback").text(q1[0].responses[0]);
                    } else {
                        response_index = matched.response;
                        $("#feedback").text(q1[0].responses[response_index]);
                        next_id = matched.next_id;
                    }
                    current_question = current_question + 1
                }
                catch(err){
                    next_id = 0;
                    $("#feedback").text(q1[0].responses[0])
            }
            $("#question-prompt").text(q2[next_id].prompt);
            renderKatex(document.getElementById("question-prompt"));
        });
        $("#start").click(function(){
            $("#start").remove();
            $("#instructions").remove();
            $("#test").attr("class", "d-block");
        });
    });
</script>

{% endif %}
{% endblock content %}