{% extends 'base.html' %}

{% block title %}{{ lesson.lesson_title }}{% endblock title %}

{% block content %}

<h2>{{ lesson.lesson_title }}</h2>

{% include lesson.html_filename %}
<hr>
<p>Take the <a href="{% url 'lessons:exit_test' lesson.slug %}">exit test</a> to see if you learned all the concepts and save your progress!</p>

<script>
$(document).ready(function(){
    function renderKatex(DOM) {
        renderMathInElement(DOM, {
        delimiters: [
                      {left: "$$", right: "$$", display: true},
                      {left: "\\(", right: "\\)", display: false},
                      {left: "\\[", right: "\\]", display: true}
                    ]
        });
    }
    renderKatex(document.body);
    image_urls = [];
    captions = [];
    {% for lessonimage in lesson.images.all %}
    image_urls.push("{{ lessonimage.image.url }}");
    captions.push("{{ lessonimage.caption }}");
    {% endfor %}
    console.log(image_urls);
    for (i = 0; i < image_urls.length; i++) {
        image_dom_id = "lesson-image-" + i;
        caption_dom_id = "lesson-image-" + i + "-caption";
        document.getElementById(image_dom_id).setAttribute("src", image_urls[i]);
        document.getElementById(caption_dom_id).innerHTML = captions[i];
    }
});
</script>
{% endblock content %}