<p>
    Congratulations! You have learned about the four elementary operations (addition, subtraction, multiplication, division)!
    Before we move on to the next big topic, let's add a necessary tool into our arsenal - the <b>number line</b>.
    <br><br>
    So far, we have learned that numbers have different "sizes". In other words, a number can be bigger than, smaller than, or equal to another number.
    For example, when comparing the two numbers \(2\) and \(3\), we say \(2\) is less than \(3\) because the number \(2\) represents fewer things than the number \(3\), and therefore \(2 < 3\).
    Consider another example, where we compare the numbers \(2\) and \(10\). By the same reasoning as above, \(2 < 10\).
    However, it seems like even though \(2 < 3\) and \(2 < 10\) are true statements, the number 2 is less than 10 a lot more than 3.
    To visually show how much a number is greater/smaller than another number, we use a <b>number line</b>.
    <br><br>
    All number lines have the following two properties:
    <ul>
        <li>Smaller numbers are always on the left of larger numbers</li>
        <li>The difference between any two numbers is equal to the <b>distance</b> between them</li>
    </ul>
    Using these two fascinating properties, the number line offers us a different, more in-depth interpretation of the four elementary operations (addition, subtraction, multiplication, division).

    <br><br>
    When we add two numbers, their sum is the number we arrive at after walking to the right the <i>distance</i> of the first number, then walking to the right the <i>distance</i> of the second number.<br>
    For example, when we calculate \(3+5\), we can find the sum of 8 on the number line by taking 3 steps to the right from 0, then taking 5 more steps to the right to get to 8.
    <br><br>
    When we subtract two numbers, their difference is the number we arrive at after walking to the right the <i>distance</i> of the first number, then walking to the left the <i>distance</i> of the second number.<br>
    For example, when we calculate \(10-2\), we can find the answer of 8 on the number line by taking 10 steps to the right from 0, then taking 2 steps to the left.
    <br><br>
    When we multiply two numbers, their product is the number we arrive at after walking to the right the <i>distance</i> of the first number, for a total of the second number number of times.<br>
    For example, when we calculate \(2 \times 3 \), we can find the answer of 6 on the number line by walking to the right a distance of 2 for a total of 3 times.
    <br><br>
    When we divide two numbers, their quotient is the number we arrive at after splitting the <i>distance</i> dividend evenly into the divisor number of groups, then walking to the closest "split" from 0.<br>
    For example, when we calculate \(6 \div 3 \), we evenly split the distance between 0 to 6 into 3 parts. The answer is the closest "split" to 0, which is at 2.
    <br><br>
    What we are doing here is often very confusing for first time learners, because it almost seems like what we are doing here are not at all related to the ideas of adding, subtracting, multiplying, or dividing.
    However, a closer look tells us that the number line is merely a different way of thinking about these operations we all know and love. Take subtraction for example. Originally we have used subtraction to solve problems where a number of things had been taken away from the total.
    The number line "version" of subtraction deals with the same thing, by first "walking right" to the total number, then "walking left" to take away a number of things, which is the same concept but represented differently.
    <br><br>
</p>