{% extends 'base.html' %}

{% block title %}{{ unit.name }}{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6 text-center">
        <span class="float-md-left"><h2>{{ unit.name }}</h2></span>
    </div>
    {% if user.is_authenticated %}
    <div id="review-unit" class="col-md-6 text-center d-none">
        <span class="float-md-right"><a class="btn btn-outline-primary" href="{% url 'units:unit_review' unit.slug %}">Review completed lessons</a></span>
    </div>
    {% endif %}
</div>

{% if not user.is_authenticated %}
<p><a href="{% url 'login' %}">Log in</a> to see your progress!</p>
{% endif %}
<br>
<div class="progress" style="height: 20px;">
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<div id="cy" class="jumbotron"></div>

{% if user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Unit Bug Report Form</h5>
                <button id="close-report-submission" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bug-report-form">
                    <div class="form-group">
                        <p>What was the issue with this unit?</p>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="DI" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="DI">The unit is not displaying correctly</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="OT" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="OT">Other</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="report-message">Please describe the problem in more detail (max 2000 characters).</label>
                        <textarea class="form-control" id="report-message" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p id="submission-feedback"></p>
                <button id="send-feedback-report" type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
        </div>
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="float-right">
    <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#feedbackModal">
        Report a Bug
    </button>
  </div>
</footer>
{% endif %}


<script>
$(document).ready(function(){
    // Initializing variables
    const lessons_url = "/lessons/";
    let user_skill_data;
    let num_complete = 0;
    let lessons_data;
    let elements = [];

    $.when(
        $.get("{% url 'get_unit_data' unit.id %}", function(data, status){
            // Retrieves and stores serialized lesson objects for lessons in unit
            lessons_data = data.unit_data.lessons;
            user_skill_data = data.user_skill_levels;
        })
    ).then(function(){
        {% if user.is_authenticated %}
        for (i of lessons_data){
            let readiness = true;
            let skill_id = i.skill.id;
            let user_skill = user_skill_data.find(function(value){return value[0] == skill_id})[1];
            let href = lessons_url + i.slug + "?unit={{ unit.slug }}";
            for (j of i.skill.parents){
                let user_parent_skill = user_skill_data.find(function(value){return value[0] == j});
                if (user_parent_skill != null){
                    if (user_parent_skill[1] > 0){
                        elements.push({data: {id: `${j}-${skill_id}`, source: j, target: skill_id, status: 1}});
                    } else {
                        readiness = false;
                        elements.push({data: {id: `${j}-${skill_id}`, source: j, target: skill_id, status: 0}});
                    }
                }
            }
            if (user_skill > 0){
                num_complete += 1;
                elements.push({data: {
                        id: skill_id,
                        href: href,
                        label: i.lesson_title,
                        status: 2
                    },
                    classes: 'center-center'
                });
            } else {
                if (readiness){
                    elements.push({data: {
                            id: skill_id,
                            href: href,
                            label: i.lesson_title,
                            status: 1
                        },
                        classes: 'center-center'
                    });
                } else {
                    elements.push({data: {
                            id: skill_id,
                            href: href,
                            label: i.lesson_title,
                            status: 0
                        },
                        classes: 'center-center'
                    });
                }
            }
        }

        if (num_complete == lessons_data.length){
            $(".progress-bar").attr("style", `width: 100%`);
            $(".progress-bar").attr("aria-valuenow", 100);
            $(".progress-bar").text("Unit Complete!");
            $("#review-unit").attr("class", "col-md-6 text-center");
        } else if (num_complete == 0){
            $(".progress").replaceWith(`<div class="alert alert-primary text-center" role="alert">
                Take the placement test if you haven't yet!
            </div>`);
        } else {
            percentage = num_complete * 100 / lessons_data.length
            $(".progress-bar").attr("style", `width: ${percentage}%`);
            $(".progress-bar").attr("aria-valuenow", percentage);
            $(".progress-bar").text(`${Math.round(percentage * 10) / 10}%`);
            $("#review-unit").attr("class", "col-md-6 text-center");
        }

        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: elements,
            userZoomingEnabled: false,
            userPanningEnabled: false,
            autoungrabify: true,
            style: [
                {
                selector: 'node[status=0]',
                style: {
                    'border-width': 1,
                    'border-style': 'dashed',
                    'border-color': '#868e96',
                    'background-color': '#ffffff',
                    'width': 'label',
                    'height': 'label',
                    'label': 'data(label)',
                    'color': '#868e96',
                    'text-wrap': 'wrap',
                    'text-max-width': 100,
                    'padding-left': 5,
                    'padding-right': 5,
                    'shape': 'round-rectangle',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    }
                },
                {
                selector: 'node[status=1]',
                style: {
                    'border-width': 1,
                    'border-style': 'dashed',
                    'border-color': '#ffc107',
                    'background-color': '#ffffff',
                    'width': 'label',
                    'height': 'label',
                    'label': 'data(label)',
                    'color': '#000000',
                    'text-wrap': 'wrap',
                    'text-max-width': 100,
                    'padding-left': 5,
                    'padding-right': 5,
                    'shape': 'round-rectangle',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    }
                },
                {
                selector: 'node[status=2]',
                style: {
                    'border-width': 3,
                    'border-style': 'solid',
                    'border-color': '#0275d8',
                    'background-color': '#ffffff',
                    'width': 'label',
                    'height': 'label',
                    'label': 'data(label)',
                    'color': '#000000',
                    'text-wrap': 'wrap',
                    'text-max-width': 100,
                    'padding-left': 5,
                    'padding-right': 5,
                    'shape': 'round-rectangle',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    }
                },
                {
                selector: 'edge[status=0]',
                style: {
                    'width': 1,
                    'overlay-opacity': 0,
                    'line-color': '#868e96',
                    'target-arrow-color': '#868e96',
                    'target-arrow-shape': 'none',
                    'curve-style': 'straight',
                    'source-endpoint': '180deg',
                    'target-endpoint': '0deg',
                    'line-style': 'dashed',
                    'line-dash-pattern': [10, 10]
                    }
                },
                {
                selector: 'edge[status=1]',
                style: {
                    'width': 1,
                    'line-color': '#868e96',
                    'overlay-opacity': 0,
                    'target-arrow-color': '#868e96',
                    'target-arrow-shape': 'none',
                    'curve-style': 'straight',
                    'source-endpoint': '180deg',
                    'target-endpoint': '0deg',
                    }
                }
            ],
            layout: {
                name: 'dagre',
            }
        });

        {% else %}
        for (i of lessons_data){
            let readiness = true;
            let skill_id = i.skill.id;
            href = lessons_url + i.slug + "?unit={{ unit.slug }}";
            for (j of i.skill.parents){
                elements.push({data: {id: `${j}-${skill_id}`, source: j, target: skill_id}});
            }
            elements.push({data: {
                    id: skill_id,
                    href: href,
                    label: i.lesson_title,
                },
                classes: 'center-center'
            });
        }

        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: elements,
            userZoomingEnabled: false,
            userPanningEnabled: false,
            autoungrabify: true,
            style: [
                {
                selector: 'node',
                style: {
                    'border-width': 1,
                    'border-style': 'solid',
                    'border-color': '#868e96',
                    'background-color': '#ffffff',
                    'width': 'label',
                    'height': 'label',
                    'label': 'data(label)',
                    'color': '#000000',
                    'text-wrap': 'wrap',
                    'text-max-width': 100,
                    'padding-left': 5,
                    'padding-right': 5,
                    'shape': 'round-rectangle',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    }
                },
                {
                selector: 'edge',
                style: {
                    'width': 1,
                    'overlay-opacity': 0,
                    'line-color': '#868e96',
                    'target-arrow-color': '#868e96',
                    'target-arrow-shape': 'none',
                    'curve-style': 'straight',
                    'source-endpoint': '180deg',
                    'target-endpoint': '0deg',
                    }
                },
            ],
            layout: {
                name: 'dagre',
            }
        });

        $(".progress-bar").attr("style", "width: 100%");
        $(".progress-bar").attr("class", "progress-bar bg-secondary");
        $(".progress-bar").attr("aria-valuenow", 100);
        $(".progress-bar").text("Log in to see your progress!");

        {% endif %}

        cy.$('node').on('tap', function(e){
            window.location.href = this.data('href');
        });

        cy.$('node').on('mouseover', function(e){
            $('html,body').css('cursor', 'pointer');
            this.css({'background-color': '#d4ebf2'})
        });

        cy.$('node').on('mouseout', function(e){
            $('html,body').css('cursor', 'default');
            this.css({'background-color': '#ffffff'})
        });

        $(window).resize(function(){
            cy.resize();
            cy.fit();
        });
    });

    {% if user.is_authenticated %}
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            let cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++){
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // These HTTP methods do not require CSRF protection
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Setting up ajax headers to include csrftoken
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Feedback modal AJAX send
    $(document).on('click', '#send-bug-report', function(e){
        e.preventDefault();
        if ($('input[name="bugChoice"]:checked').length == 0) {
            $("#submission-feedback").text("Please select the issue with the unit.");
        } else if ($("#report-message").val().length > 2000) {
            $("#submission-feedback").text("Your message has exceeded 2000 characters.");
        } else {
            let reason = $('input[name="bugChoice"]:checked', '#bug-report-form').attr('id');
            let unit_fk = {{ unit.id }};
            let report_message = $("#report-message").val();
            let bug_report_JSON = {"unit": unit_fk, "reason": reason, "report_message": report_message};
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: "{% url 'unit-report' %}",
                data: JSON.stringify(bug_report_JSON),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    $("#submission-feedback").text("Oops! It seems like something went wrong when sending your data to the server. Please try again later.")
                },
                success: function(data){
                    $(".modal-body").hide();
                    $("#send-bug-report").hide();
                    $("#submission-feedback").text("Thank you for your feedback! Your response has been received.")
                }
            });
        }
    });

    // on closing bug report modal, reset all fields
    $(document).on('click', '#close-report-submission', function(e){
        $("#report-message").val("");
        $('input[name="bugChoice"]').prop('checked', false);
        $(".modal-body").show();
        $("#send-feedback-report").show();
    });
    {% endif %}
});
</script>

{% endblock content %}