{% extends 'base.html' %}

{% block title %}{{ unit.name }}{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6 text-center">
        <span class="float-md-left"><h2>{{ unit.name }}</h2></span>
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-6 text-center">
        <span class="float-md-right"><a class="btn btn-outline-primary" href="{% url 'placement:initial_placement_test' 'unit' unit.id %}">Test Out</a></span>
    </div>
    {% endif %}
</div>

{% if not user.is_authenticated %}
<p><a href="{% url 'login' %}">Log in</a> to see your progress!</p>
{% endif %}
<br>
<div class="progress" style="height: 20px;">
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<div id="unit-lessons" class="jumbotron">
</div>

{% if user.is_authenticated %}
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Unit Bug Report Form</h5>
                <button id="close-report-submission" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bug-report-form">
                    <div class="form-group">
                        <p>What was the issue with this unit?</p>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="DI" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="DI">The unit is not displaying correctly</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="OT" name="bugChoice" class="custom-control-input">
                            <label class="custom-control-label" for="OT">Other</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="report-message">Please describe the problem in more detail (max 2000 characters).</label>
                        <textarea class="form-control" id="report-message" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p id="submission-feedback"></p>
                <button id="send-feedback-report" type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
        </div>
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="float-right">
    <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#feedbackModal">
        Report a Bug
    </button>
  </div>
</footer>
{% endif %}

<script>
$(document).ready(function(){
    // Initializing variables
    const lessons_url = "/lessons/";
    let unit_lessons = document.getElementById("unit-lessons");
    let untraversed_skills = new Set();
    let traversed_skills = new Set();
    let user_skill_data;
    let lessons_data;

    $.when(
        $.get("{% url 'get_unit_data' unit.id %}", function(data, status){
            // Retrieves and stores serialized lesson objects for lessons in unit
            lessons_data = data.unit_data.lessons;
            user_skill_data = data.user_skill_levels;
        })
    ).then(function(){
        // Populates untraversed_skills with all skill_ids of unit lessons
        for (i = 0; i < lessons_data.length; i++){
            untraversed_skills.add(lessons_data[i].skill.id);
        }

        // Creates nodes and connections
        while (untraversed_skills.size > 0){
            // Create 'tiers' of card decks based on precedence
            unit_lessons.appendChild(document.createElement("br"));
            unit_lessons.appendChild(document.createElement("br"));
            let deck = document.createElement("div");
            deck.setAttribute("class", "card-deck");
            unit_lessons.appendChild(deck);

            // list filtered for lessons that are not yet traversed and whose parents have already been traversed
            current_roots = lessons_data.filter(function(value){
                if (traversed_skills.has(value.skill.id)){
                    return false;
                }
                for (elem of untraversed_skills){
                    if (new Set(value.skill.parents).has(elem)){
                        return false;
                    }
                }
                return true;
            });

            // Creates DOM elements for current_roots
            for (x of current_roots){
                // Initializing card, card_body, link, and title vars
                let card = document.createElement("div");
                let card_body = document.createElement("div");
                let lesson_link = document.createElement("a");
                let card_title = document.createElement("h5");

                // Setting attributes
                card_title.setAttribute("class", "card-title");
                card_title.innerHTML = x.lesson_title;
                lesson_link.setAttribute("href", lessons_url + x.slug + "?unit={{ unit.slug }}");
                card_body.setAttribute("class", "card-body");
                card.setAttribute("id", x.slug);
                card.setAttribute("data-skill", x.skill.id);
                card.setAttribute("class", "card text-center");

                // Appending children
                lesson_link.appendChild(card_title);
                card_body.appendChild(lesson_link);
                card.appendChild(card_body);
                deck.appendChild(card);

                // Connects each node to their parent nodes if in the graph
                for (i of x.skill.parents){
                    if (traversed_skills.has(i)){
                        parent_card_id = $(`div[data-skill="${i}"]`).attr('id');
                        jsPlumb.connect({source: parent_card_id,
                                         target: x.slug,
                                         paintStyle: {stroke: "rgb(153, 153, 153)", strokeWidth:1},
                                         endpoint:"Blank",
                                         anchor:["Top", "Bottom"],
                                         connector:["Bezier", {curviness: 20}]});
                    } else {
                        // pass
                    }
                    jsPlumb.repaintEverything();
                }
            }

            // Update remaining_topological_orders and traversed_topological_orders using nl
            for (elem of current_roots){
                untraversed_skills.delete(elem.skill.id);
                traversed_skills.add(elem.skill.id);
            }

            unit_lessons.appendChild(document.createElement("br"));
            unit_lessons.appendChild(document.createElement("br"));
        }

        {% if user.is_authenticated %}
            // Colors cards and connections based on user progress
            let num_complete = 0;

            for (i = 0; i < user_skill_data.length ; i++){
                current = user_skill_data[i]
                card_id = $(`div[data-skill="${current[0]}"]`).attr('id');

                if (current[1] > 0.5){
                    num_complete += 1;
                } else {
                    let readiness = true;
                    let parent_ids = lessons_data.find(function(value){return value.skill.id == current[0]}).skill.parents

                    for (j = 0; j < parent_ids.length ; j++){
                        let parent_skillfulness = user_skill_data.find(function(value){return value[0] == parent_ids[j]})
                        if (parent_skillfulness){
                            if (parent_skillfulness[1] > 0.5){
                                // pass
                            } else {
                                readiness = false;
                                let parent_id = $(`div[data-skill="${parent_ids[j]}"]`).attr('id');
                                console.log(parent_id);
                                jsPlumb.select({source: parent_id, target: card_id}).setPaintStyle({stroke: "rgb(153, 153, 153)", strokeWidth:1, dashstyle:"10 10"});
                            }
                        } else {
                            // parent skill not in unit
                        }
                    }

                    if (readiness == true){
                        $(`#${card_id}`).find("a").attr("class", "text-warning");
                    } else {
                        $(`#${card_id}`).find("a").attr("class", "text-muted");
                    }
                }
            }

        // displays progress bar based on user progress
            if (num_complete == lessons_data.length){
                $(".progress-bar").attr("style", `width: 100%`);
                $(".progress-bar").attr("aria-valuenow", 100);
                $(".progress-bar").text("Unit Complete!");
            } else {
                percentage = num_complete * 100 / lessons_data.length
                $(".progress-bar").attr("style", `width: ${percentage}%`);
                $(".progress-bar").attr("aria-valuenow", percentage);
                $(".progress-bar").text(`${Math.round(percentage * 10) / 10}%`);
            }
        {% else %}
            $(".progress-bar").attr("style", "width: 100%");
            $(".progress-bar").attr("class", "progress-bar bg-secondary");
            $(".progress-bar").attr("aria-valuenow", 100);
            $(".progress-bar").text("Log in to see your progress!");
        {% endif %}
    });

    // on window resize jsPlumb repaint
    $(window).resize(function(){
        jsPlumb.repaintEverything();
    });

    {% if user.is_authenticated %}
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== ''){
            let cookies = document.cookie.split(';');
            for (i = 0; i < cookies.length; i++){
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // These HTTP methods do not require CSRF protection
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Setting up ajax headers to include csrftoken
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Feedback modal AJAX send
    $(document).on('click', '#send-bug-report', function(e){
        e.preventDefault();
        if ($('input[name="bugChoice"]:checked').length == 0) {
            $("#submission-feedback").text("Please select the issue with the unit.");
        } else if ($("#report-message").val().length > 2000) {
            $("#submission-feedback").text("Your message has exceeded 2000 characters.");
        } else {
            let reason = $('input[name="bugChoice"]:checked', '#bug-report-form').attr('id');
            let unit_fk = {{ unit.id }};
            let report_message = $("#report-message").val();
            let bug_report_JSON = {"unit": unit_fk, "reason": reason, "report_message": report_message};
            $.ajax({
                type: "POST",
                // To create new url api for this bulk send in backend
                url: "{% url 'unit-report' %}",
                data: JSON.stringify(bug_report_JSON),
                dataType: "json",
                contentType: "application/json",
                error: function(data){
                    $("#submission-feedback").text("Oops! It seems like something went wrong when sending your data to the server. Please try again later.")
                },
                success: function(data){
                    $(".modal-body").hide();
                    $("#send-bug-report").hide();
                    $("#submission-feedback").text("Thank you for your feedback! Your response has been received.")
                }
            });
        }
    });

    // on closing bug report modal, reset all fields
    $(document).on('click', '#close-report-submission', function(e){
        $("#report-message").val("");
        $('input[name="bugChoice"]').prop('checked', false);
        $(".modal-body").show();
        $("#send-feedback-report").show();
    });
    {% endif %}
});
</script>

{% endblock content %}
